  <!DOCTYPE html>
  <html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/prism.css">
    <script src="/js/prism.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header>
     {{> school/nav}}   
   </header>
   <main>
    <div class="container">
     {{{body}}}
   </div>
 </main>

 {{>footerScrtisps}}
 <script type="text/javascript">
   Prism.plugins.NormalizeWhitespace.setDefaults({
    'remove-trailing': true,
    'remove-indent': true,
    'left-trim': true,
    'right-trim': true,
  });

   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instancesNav = M.Sidenav.init(elems, {});
    var collapsible = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(collapsible, {});
    document.getElementById('desktopMenu').addEventListener('click', function(){
      instancesNav[0].open();
    });
  });
</script>
{{> school/footer}}
</body>
</html>
