 
<div class="row"> 
	 <label class=" col s12 " >
          <input  id='uniqueUrl' type="text" class="filled-in" name="url"   value="" />
          <input type ="submit" class ="btn waves-effect waves-light updateUrl" value = "Send"/>           
        </label>
	<div class="col s12 offset-s3">

		<div >
        
		<div id='collections' ></div>		
	</div>
</div>