 
<footer class="page-footer">
  <div class="container">
    <div class="row">
 
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Paginas de referencias</h5>
        <ul>
          {{#each links }} 
            <li><a href="{{this}}" class="grey-text text-lighten-3" href="#!">{{@key}}</a></li>      
          {{/each}}  
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>