<nav> <!-- navbar content here  --> </nav>

<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="http://www.aquarelacafe.cl/wp-content/uploads/2017/12/wallpaper-cafe-y-9740611.jpg">
    </div>
    <a href="#user"><img class="circle" src="https://avatars1.githubusercontent.com/u/21298237?s=400&u=b7dc5052820faaf74b991fcc41d6aabf6d222375&v=4"></a>
    <a href="#name"><span class="white-text name">Adrian Lopez de la cruz</span></a>
    <a href="#name"><span class="white-text name">Miguel Ama a tamayo Love</span></a>

  </div></li>

  <li><a href="#!">Conceptos</a></li>
  <li><a href="/school/dataStructure"><i class="material-icons">cloud</i>Javascript Data Structure</a></li>
  <li><a href="/school/values"><i class="material-icons">cloud</i>Values, Types, and Operators</a></li>
  <li><a href="/school/functions"><i class="material-icons">cloud</i>Functions</a></li>
  <li><a href="/school/methods"><i class="material-icons">cloud</i>Methods</a></li>
  <li><a href="/school/conceptthis"><i class="material-icons">cloud</i>Concept THIS</a></li>


  


  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>