<div>
	<a class="waves-effect waves-light btn-small clue-practice" 
		data-folder='personajes'
		data-info='Personajes'
		data-target='PersonajesImg'
	 >Ver personajes</a>
	<a class="waves-effect waves-light btn-small clue-practice" 
		data-folder='armas'
		data-info='Armas'
		data-target='ArmasImg'
		>Ver armas</a>


	<a class="waves-effect waves-light btn-small clue-practice" 
		data-folder='lugar'
		data-info='Lugares'
		data-target='LugaresImg'

		 >Ver Lugares</a>
	<div id="PersonajesImg"></div>
	<div id="ArmasImg"></div>
	<div id="LugaresImg"></div>
	
</div>






<script type="text/javascript">
	const folderImg = '/img/clue';
	let ClueGame = {}
	ClueGame.Personajes =[
	'azulino.png',
	'blanki.png',
	'moradillo.png',
	'mostaza.png',
	'scarlet.png',
	'verdi.png',
	]

	
	 ClueGame.Armas = [
	'candelabro.png',
	'daga.png',
	'llave_inglesa.png',
	'pistola.png',
	'soga.png',
	'tuberia.png',
	];
	
	ClueGame.Lugares = [
	'baño.png',
	'cocina.png',
	'comedor.png',
	'estudio.png',
	'garage.png',
	'habitacion.png',
	'patio.png',
	'sala.png',
	'salon-de-juegos.png'
	];
</script>





