<div class="row">
	<div class="col s12">
		<a class="waves-effect waves-light btn-small clue-practice" 
		data-folder='personajes'
		data-info='Personajes'
		data-target='PersonajesImg'
		data-action='show'
		>Ver personajes</a>
		<a class="waves-effect waves-light btn-small clue-practice" 
		data-folder='armas'
		data-info='Armas'
		data-target='ArmasImg'
		data-action='show'
		>Ver armas</a>
		<a class="waves-effect waves-light btn-small clue-practice" 
		data-folder='lugar'
		data-info='Lugares'
		data-target='LugaresImg'
		data-action='show'
		>Ver Lugares</a>
	</div>		


</div>

<div class="myrow">
	<div class="mycol">1</div>
	<div class="mycol"> 1</div>
	<div class="mycol"> 1</div>
	<div class="mycol"> 1</div>
	<div class="mycol"> 1</div>
</div>

<div class="row">
	<div id="PersonajesImg"  data-dump='Personajes' class="col s12"></div>
	<div id="ArmasImg" data-dump='Armas' class="col s12"></div>
	<div id="LugaresImg" data-dump='Lugares' class="col s12"></div>
</div>

<div class="row">
	<div class="col s12 "><h5>Basurero</h5></div>
	<div id='Dump' class="col s12 ">
		
		<div data-dump='Personajes' class="col s12"></div>
		
		<div data-dump='Armas' class="col s12"></div>
		<div data-dump='Lugares' class="col s12"></div>
	</div>
</div>





