<div id='buttonMore' class="navbar-fixed">
	<nav >
		<div class="nav-wrapper">
			<a id='searchMoreNotes'class="waves-effect waves-light btn">Más notas</a>
		</div>
	</nav>
</div>

<div id="entry" class="row">
	
</div>
